.slick-slide img {
    width: 100%;


}

.slick-prev,
.slick-next {
    color: #000 !important;

}

.slider {

    margin-bottom: 30px;

    img {
        width: 100%;
    }

}

@media (max-width: 768px) {
    .slider {

        margin-bottom: 30px;

        img {
            width: 100%;
        }

    }
}