.explore {
    background-color: rgba(244, 242, 222, 0.316);
    height: 700px;
    width: 100%;

    gap: 100px
}

.btns {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Contactus {
    margin-top: 20px;
}

.text {
    margin-top: 20px;
}

hr {
    width: 98%;
    margin-top: 10px;

    border: 6px solid rgb(128, 223, 180);
}


.navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: rgb(16, 16, 15);
    width: 100%;
    height: 70px;
    z-index: 1100;

    a {
        text-decoration: none;

    }

    li {
        border: 2px solid rgba(149, 14, 14, 0.443);
        border-radius: 4px;
        width: fit-content;
        height: 30px;
        padding-right: 15px;
    }

}

.btn {
    background-color: rgb(128, 223, 180);
    width: 80px;
    height: 40px;
    border-radius: 4px;
    margin-top: 90px;
    border: none;

}



@media (max-width: 768px) {
    .explore {
        width: 100%;
    }

}