.explore {
    background-color: rgba(244, 242, 222, 0.316);
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .explore {
        width: 100%;
    }

}